button {
  width: 100%;
  height: 4em;
  margin: 0.5em auto 0.5em auto;

  font-family: 'Lato', sans-serif;
  background-color: #e0e0e0;
  border-color: #1b284b;
  color: #1b284b;
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: #1b284b;
}

.logo {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #1b284b;
  font-size: 6em;
  width: 50%;
  margin: 2.5em auto 0.5em auto;
  text-align: center;
}

.signin-signup {
  max-width: 70%;
  max-height: 40%;
  margin: auto;
}
